body, html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

#mission {
  background-image:url("../images/leaves.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 1200px;
  padding-top: 69px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mission-statement {
  background-color: black;
  flex-grow: 1;
}

#location {
  background-image:url("../images/coffee.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 1200px;
  text-align: center;
  margin: auto;
}

#contact {
  text-align: center;
  margin: auto;
  height: 200px;
}

#store {
  font-weight: bold;
  width: 1000px;
}

.maps {
  margin: 15px 20px;
  z-index: 1;
  width: 300px;
  opacity: 1;
  background-color: black;
  justify-content: flex-start;
  display:inline-block;
}

.storestatement {
  display: block;
  margin: auto;
}

header {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background: black;
  color: white;
  height: 49px;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 50px;
}

header a {
  color: seashell;
  display: inline;
  height: 50px;
  align-items: flex-end;
}


#store {
  width: 1000px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
  margin:auto;
}

footer {
  padding: 20px;
  text-align: left;
}

#mission, #store, #locations {
  margin: 0px auto;
  text-align: center;
}
